<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>吧啦啦便利店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/Content/amazeui.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/commMarkt.css" rel="stylesheet" />
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Scripts/amazeui.min.js"></script>

    <link href="~/Content/swiper/swiper.min.css" rel="stylesheet" />
    <script src="~/Content/swiper/swiper.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: 0;
            -webkit-tap-highlight-color: transparent
        }

        html {
            -webkit-text-size-adjust: none;
            -webkit-font-smoothing: antialiased;
        }

        body,
        html {
            height: 100%;
        }

        a {
            text-decoration: none
        }

        .swiper-container {
            width: 100%;
            height: 200px;
        }

        .swiper-slide {
            width: 100%;
            height: 200px;
            border-radius: 20px;
        }

            .swiper-slide img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
    </style>
</head>
<body>
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <h1 class="am-header-title">
            <a href="" class="" style="color: #ffffff;line-height:49px;">吧啦啦便利店</a>
        </h1>
    </header>
    <div class="content-list" id="outer" style="margin-top:40px;">
        <div style="width:100%;height:30px;">
            <div style="width:100%;height:30px;margin-top:10px; ">
                <a href="Search" style="padding-left:20px;line-height:30px;width:80%;margin-left:10%;border-radius: 5%;height:30px;display: flex;border:1px solid #8080805c;">搜索</a>
            </div>
        </div>

        @{ List
                                  <pan.kaikj.wxsupermarket.AdoModel.Mnews>
                                      modelListRo = ViewData["Rotation"] == null ? null : (List<pan.kaikj.wxsupermarket.AdoModel.Mnews>
                                          )ViewData["Rotation"];
            if (modelListRo != null && modelListRo.Count > 0)
            {
                <div style="margin-top:10px;" class="swiper-container swiper-container-initialized swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transition-duration: 0ms;transform: translate3d(-5464px, 0px, 0px);">

                                @foreach (var item in modelListRo)
                                {
                                    if (!string.IsNullOrEmpty(item.img))
                                    {
                                        <div class="swiper-slide" style="width:100%;">
                                            <a href="@(string.IsNullOrEmpty(item.url)?"#":item.url)">
                                                <img style="width:100%;" src="/@item.img" />
                                            </a>
                                        </div>
                                    }
                                }

                            </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-bullets-dynamic" style="width: 80px;"><span class="swiper-pagination-bullet" style="left: -32px;"></span><span class="swiper-pagination-bullet" style="left: -32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-prev-prev" style="left: -32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-prev" style="left: -32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" style="left: -32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" style="left: -32px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" style="left: -32px;"></span><span class="swiper-pagination-bullet" style="left: -32px;"></span><span class="swiper-pagination-bullet" style="left: -32px;"></span><span class="swiper-pagination-bullet" style="left: -32px;"></span></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            }
        }



        <div style="width:100%;height:130px;border-radius: 10px;margin-top:10px;background-color:#E0FFFF;">
            <div style="font-size:16px;text-align:center;height:10px;line-height:10px;font-family:微软雅黑;color:#0094ff"></div>
            <div style="height: 80px;">
                <div style="width:25%;float:left;height:80px;line-height:120px;text-align:center;color:#eedc10">
                    服务须知
                </div>
                <div style="width:73%;float:left;height:80px;line-height:25px;">
                    <label style="color:#3f51b5">送货时间：8:00 -- 24:00</label><br />
                    <label style="color:#3f51b5">送货范围：天府城公寓楼+住宅楼</label><br />
                    <label style="color:#3f51b5">服务电话：18161256101</label><br />
                </div>
            </div>
            <div style="font-size:12px;padding-left:10px;color:#ff6a00;margin-top:10px;">
                20元起免费送货上门，谢谢支持与理解
            </div>
        </div>
        <div style="width:100%;height:auto;margin-top:10px ; display: inline-table;">

            @{ List
                                   <pan.kaikj.wxsupermarket.AdoModel.Mproductclass>
                                       modelList = ViewData["AllClass"] == null ? null : (List<pan.kaikj.wxsupermarket.AdoModel.Mproductclass>
                                           )ViewData["AllClass"];
                if (modelList != null && modelList.Count > 0)
                {
                    foreach (var item in modelList)
                    {
                        if (@item.supclassid == 0)
                        {
                            // <li data-typeId="@item.classid"><a>@item.classname</a></li>
                            <div style="width:20%;float:left;">
                                <a style="display: flex; flex-direction: column;-webkit-box-align: center;align-items: center;    height: 100px;    width: 100%;    margin-top: 3px;">
                                    <img style="width:80%;height:70px;" src="../@item.imgpath" />
                                    <span style="font-size: 14px;line-height:30px;color: rgb(102, 102, 102);">@item.classname</span>
                                </a>
                            </div>
                        }
                    }
                }
            }
        </div>

        <div style="margin-top:20px;height:75px;font-size:14px;font-weight:600;">
            <img style="height:75px;width:100%;" src="../images/goodgoods.jpg" />
        </div>
        <div>
            <ul id="productList" style="margin-top: 20px;" class="list-pro proListType2" data-hasPro="1" data-pagIndex="4">
                @* <li>
                    <a href="detail.html">
                        <img src="/images/1.png" class="list-pic" />
                    </a>
                    <div class="shop-list-mid" data-id="4">
                        <div class="tit" style="min-height:30px;height:auto;">
                            <a href="detail.html" style="min-height:30px;height:auto;">法国21加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a>
                        </div>
                        <div class="am-gallery-desc" style="margin-top: 10px;">￥<label class="price">66</label><label class="delprice">￥899</label></div>
                    </div>
                    <div class="list-cart">
                        <div class="d-stock ">
                            <a class="decrease">-</a>
                            <input id="num" readonly="" class="text_box" name="" type="text" value="0">
                            <a class="increase">+</a>
                        </div>
                    </div>
                </li>*@
            </ul>
        </div>
        <script type="text/javascript">
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
                //自动播放
                autoplay: {
                    stopOnLastSlide: false
                }
            });
        </script>
    </div>
    <!--底部-->
    <div style="height: 100px;"></div>
    <div class="fix-bot" style="bottom:50px;">
        <a href="" class="list-js">
            合计：
            <i><label id="totalPrice">0</label>元</i><em>(<label id="totalNum">0</label>份)</em>
        </a>
        <a href="#" id="submit" class="list-jsk">选好了</a>
    </div>

    <div class="botCount" id="botCount">
        <script type="text/javascript">
            //// 底部事件
            $(function () {
                initBotom(1);
            });
        </script>
    </div>

    <script type="text/javascript">
        var hasSelProId = new Array();

        //购物数量加减
        $(function () {
            $(".list-pro").delegate(".increase", "click", function () {
                //// 数量加1
                var self = $(this);
                addShopingCartResult = false;
                addShopingCart(self.parent().parent().prev().attr("data-id"), 1);
                if (addShopingCartResult) {
                    var current_num = parseInt(self.siblings('input').val());
                    current_num += 1;
                    if (current_num > 0) {
                        self.siblings(".decrease").fadeIn();
                        self.siblings(".text_box").fadeIn();
                    }
                    self.siblings('input').val(current_num);

                    //// 购物车数量展示处理
                    update_item(self, 1);
                }
            });

            $(".list-pro").delegate(".decrease", "click", function () {
                //// 数量减1
                var self = $(this);
                addShopingCartResult = false;
                addShopingCart(self.parent().parent().prev().attr("data-id"), -1);
                if (addShopingCartResult) {
                    var current_num = parseInt(self.siblings('input').val());
                    if (current_num > 0) {
                        current_num -= 1;
                        if (current_num < 1) {
                            self.fadeOut();
                            self.siblings(".text_box").fadeOut();
                        }
                        self.siblings('input').val(current_num);

                        //// 购物车数量展示处理
                        update_item(self, 0);
                    }
                }
            });
        })

        //删除提示信息
        $(function () {
            $('#doc-modal-list').find('.am-icon-close').add('#doc-confirm-toggle').
                on('click', function () {
                    $('#my-confirm').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var $link = $(this.relatedTarget).prev('a');
                            var msg = $link.length ? '你要删除的饮品 为 ' + $link.data('id') :
                                '确定了';
                            //        alert(msg);
                        },
                        onCancel: function () {
                            alert('不删除');
                        }
                    });
                });
        });
        var finished = false;
        //tab切换
        $(function () {
            window.onload = function () {

                //// 获取产品列表数据

                $.ajax({
                    cache: false,//保留缓存数据
                    type: "get",//为post请求
                    url: "/market/GetProductcListBySupClassId",//这是我在后台接受数据的文件名
                    data: "pagIndex=1&supClassid=0&recommend=1",//将该表单序列化
                    async: false,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                    error: function (request) {//请求失败之后的操作
                        alert("操作失败！");
                    },
                    success: function (data) {//请求成功之后的操作
                        if (data) {
                            var dataObj = $.parseJSON(data);
                            if (dataObj) {
                                var dataList = dataObj["dataList"];
                                if (dataList) {
                                    for (var i = 0; i < dataList.length; i++) {
                                        var phtml = '<li><a href="detail?productId=' + dataList[i]["productid"] + '"><img src="/' + dataList[i]["productimgurl"] + '" class="list-pic" /></a>' +
                                            '<div class="shop-list-mid" data-id="' + dataList[i]["productid"] + '">' +
                                            '   <div class="tit"><a href="detail?productId=' + dataList[i]["productid"] + '">' + dataList[i]["productname"] + '</a></div>' +
                                            '   <div class="am-gallery-desc" >￥<label class="price">' + dataList[i]["sellprice"] + '</label><label style="color: white;">.</label><label class="delprice">￥' + dataList[i]["origprice"] + '</label></div > ' +
                                            '</div> ' +
                                            '<div class="list-cart">' +
                                            ' <div class="d-stock ">' +
                                            '<a class="decrease">-</a>' +
                                            ' <input id="num" readonly="" class="text_box" name="" type="text" value="0">' +
                                            '<a class="increase">+</a>' +
                                            '</div>' +
                                            '</div>' +
                                            '</li>';
                                        $("#productList").append(phtml);
                                    }
                                    return;
                                }
                            }
                        }
                        $selProCount.attr("data-hasPro", "0");
                    }
                });
            }
        });

        //// 选好了单击事件
        $(function () {
            $('#submit').click(function () {
                if (hasSelProId.length < 1) {
                    alert("请选中需要的产品！");
                    return false;
                }
                window.location.href = '/market/takeout?selProductids='+hasSelProId.join(",");
            });
        });

        //// 选择商品总价显示
        function update_item(self, opertType) {
            //// 购物车数量展示处理
            var totalPrice = parseFloat($("#totalPrice").html().trim());
            var totalNum = parseInt($("#totalNum").html().trim());
            var thisPrice = parseFloat(self.parent().parent().prev().children().find(".price").html().trim());

            hasSelProId.push(self.parent().parent().prev().attr("data-id"));

            totalPrice = opertType == 1 ? totalPrice + thisPrice : totalPrice - thisPrice;
            totalNum = opertType == 1 ? totalNum + 1 : totalNum - 1;
            $("#totalPrice").html(totalPrice.toFixed(2));
            $("#totalNum").html(totalNum)
        }

        //// 添加到购物车
        function addShopingCart(productId, buyNum) {
            $.ajax({
                cache: false,//保留缓存数据
                type: "get",//为post请求
                url: "/market/AddShopCart",//这是我在后台接受数据的文件名
                data: {
                    productId: productId,
                    buyNum: buyNum
                },//将该表单序列化
                async: false,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error: function (request) {//请求失败之后的操作
                    alert("操作失败！");
                    return false;
                },
                success: function (data) {//请求成功之后的操作
                    if (data == "-1") {
                        alert("请先登录");
                        window.location.href = '../market/userCenter';
                        return false;
                    } else {
                        if (data) {
                            var dataObj = $.parseJSON(data);
                            if (dataObj) {
                                if (dataObj["errcode"] == "0") {
                                    addShopingCartResult = true;
                                    return true;
                                }
                                alert(dataObj["errmsg"]);
                                return false;
                            }
                        } else {
                            alert("操作失败！");
                            return false;
                        }
                    }
                }
            });
        }

    </script>
</body>
</html>

