<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>吧啦啦便利店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/Content/amazeui.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/style.css?tim=200606" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/commMarkt.css" rel="stylesheet" />
    <script src="~/Scripts/comm.js?tim=200606"></script>
    <script src="~/Scripts/amazeui.min.js"></script>
</head>
<body>
    @*<header data-am-widget="header" class="am-header am-header-default sq-head ">
            <h1 class="am-header-title">
                <a href="" class="" style="color: #ffffff;line-height:49px;">吧啦啦便利店</a>
            </h1>
        </header>*@
    <header data-am-widget="header" class="am-header  sq-head ">
        <div style="width:100%;height:30px;">
            <div style="width:100%;height:30px;margin-top:10px; ">
                <a href="Search" class="search">搜索：快速搜索你想要的商品...</a>
            </div>
        </div>
    </header>
    <div class="content-list" id="outer" style="margin-top:48px;border-top: 1px solid rgb(247, 243, 243);">
        <div class="list-left" id="tab" style="bottom:100px;height:auto;margin-top:50px;">
          
            <!--<li><a style="position: relative;">新品推荐<i class="num">8</i></a></li>-->
            <ul>
                @{ 

                   // 购物车数据处理
            List<string> hasSleProIds = new List<string>();
            List<pan.kaikj.wxsupermarket.AdoModel.MshoppingCart>
                 carmodelList = ViewData["AllShoppingCartList"] == null ? null :
                 (List<pan.kaikj.wxsupermarket.AdoModel.MshoppingCart>)ViewData["AllShoppingCartList"];
            decimal totalMon = 0M;
            int totalCount = 0;
            if (carmodelList != null && carmodelList.Count > 0)
            {

                foreach (var item in carmodelList)
                {
                    totalCount += item.buyNum;
                    hasSleProIds.Add(item.productId+"-"+item.buyNum);
                    totalMon = totalMon + item.sellPrice * item.buyNum;
                }
            }

                    string supClassId = Request.QueryString["supClassid"];
                    string classId = Request.QueryString["classid"];

                    List
                         <pan.kaikj.wxsupermarket.AdoModel.Mproductclass>
                             modelList = ViewData["AllClass"] == null ? null : (List<pan.kaikj.wxsupermarket.AdoModel.Mproductclass>
                                 )ViewData["AllClass"];
                    string thisSubClassHtml = "";
                    string subClassHtml = "";

                    if (modelList != null && modelList.Count > 0)
                    {
                        foreach (var item in modelList)
                        {
                            supClassId = string.IsNullOrEmpty(supClassId) ? (item.supclassid > 0 ? item.supclassid.ToString() : item.classid.ToString()) : supClassId;
                            if (@item.supclassid == 0)
                            {
                                <li class='@((supClassId == item.classid.ToString()) ? "current currentLi" : "")'  data-typeId="@item.classid"><a style="display: block;height: 100%;width: 100%;" href='/market/IndexClass?classid=0&supClassid=@item.classid'>@item.classname</a></li>
                            }
                            else
                            {
                                if (supClassId == item.supclassid.ToString())
                                {
                                    if (string.IsNullOrEmpty(classId) || classId == "0")
                                    {
                                        thisSubClassHtml = $@"{thisSubClassHtml}<div style='width:30%;float:left;text-align:center;'>
                                    <a href='/market/IndexClass?classid={@item.classid}&supClassid={@item.supclassid}' style='display: flex; flex-direction: column;-webkit-box-align: center;align-items: center;    height: 100px;    width: 100%;    margin-top: 3px;'>
                                        <img style='width:80%;height:70px;' src='../{@item.imgpath}'>
                                        <span style='font-size: 12px;line-height:30px;text-align:center;color: rgb(102, 102, 102);'>{@item.classname}</span>
                                    </a>
                                </div>";
                                    }
                                    else
                                    {
                                        subClassHtml = $"{subClassHtml}<li  data-classid='{item.classid}' data-supClassid='{item.supclassid}' class='subdaohangInfor subdaohang {((classId==item.classid.ToString())?"active2":"")} '><a class='{((classId==item.classid.ToString())?"active2":"")}' href='/market/IndexClass?classid={@item.classid}&supClassid={@item.supclassid}'>{item.classname}</a></li>";
                                    }
                                }
                            }
                        }
                    }

                }
            </ul>
        </div>
        <div class="list-right" style="position: inherit;">
            <style type="text/css">
                .subdaohang {
                    width: auto;
                    margin: 5px;
                    float: left;
                    margin-top: 5px;
                }

                .subdaohangSel {
                    color: red;
                    font-weight: 800;
                }

                * {
                    margin: 0px;
                    padding: 0px;
                }

                .wrap {
                    overflow: hidden;
                    height: 30px;
                    /*border-bottom: 1px solid #999;*/
                }

                .cont {
                    height: 30px;
                    overflow-x: auto;
                    overflow-y: hidden;
                    position: relative;
                }

                .state {
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    height: 30px;
                    overflow-x: auto;
                    white-space: nowrap;
                    display: flex;
                }

                    .state li {
                        display: inline-block;
                        float: left;
                        font-size: 13px;
                        text-decoration: none;
                        color: #999;
                        padding: 1px 5px;
                    }

                    .state .active2 {
                        font-weight: bold;
                        color: #ff6c00;
                        border-color: rgb(84, 46, 69);
                    }
            </style>

            @*子分类*@
            @{
                if (!string.IsNullOrEmpty(thisSubClassHtml))
                {
                    <div style="width:100%;height:auto;margin-top:10px ; " id="sbuClassCount">
                        @Html.Raw(thisSubClassHtml)
                    </div>
                }
                else
                {
                    <div class="wrap" style="position: fixed;z-index: 9999;width: 100%;background-color: white;">
                        <div class="cont" style="border-bottom: 1px solid #ddd;">
                            <ul class="state">
                                @Html.Raw(subClassHtml)
				<li class="subdaohangInfor subdaohang" style=" width: 100px;"><a></a></li>
                            </ul>
                        </div>
                    </div>
                }
            }

            <div class="" id="content" style="margin-top:30px;">
                @{
                    if (modelList != null && modelList.Count > 0)
                    {
                        foreach (var item in modelList)
                        {
                            if (@item.supclassid == 0 && supClassId == item.classid.ToString())
                            {
                                <ul class='list-pro  @("proListType"+item.classid)' data-hasPro="1" data-pagIndex="1"></ul>
                            }
                        }
                    }
                }
                @*<ul class="list-pro proListType2" data-hasPro="1" data-pagIndex="4">
                <li>
                    <a href="detail.html"><img src="/images/1.png" class="list-pic" /></a>
                    <div class="shop-list-mid" data-id="4">
                        <div class="tit"><a href="detail.html">法国21加力果12个装 进口新鲜水果 嘎啦苹果 包邮</a></div>
                        <div class="am-gallery-desc">￥<label class="price">66</label></div>
                    </div>
                    <div class="list-cart">
                        <div class="d-stock ">
                            <a class="decrease">-</a>
                            <input id="num" readonly="" class="text_box" name="" type="text" value="0">
                            <a class="increase">+</a>
                        </div>
                    </div>
                </li>
            </ul>*@
            </div>
        </div>
    </div>
    <!--底部-->
    <div style="height: 100px;"></div>
    <div class="fix-bot" style="bottom: 50px;">
        <a href="" class="list-js">
            合计：
            <i><label id="totalPrice">@totalMon.ToString("0.00")</label>元</i><em>(<label id="totalNum">@totalCount</label>份)</em>
        </a>
        <a href="#" id="submit" class="list-jsk">选好了</a>
    </div>

    <div class="botCount" id="botCount">
        <script type="text/javascript">
            //// 底部事件
            $(function () {
                initBotom(2);
            });
        </script>
    </div>
    <script src="../Scripts/Tools.js"></script>
    <script type="text/javascript">
        var supClassid = getUrlParam("supClassid");
        var classId = getUrlParam("classid");
        var carSelProIdListStr = "@((hasSleProIds==null ||hasSleProIds.Count<1)?"": string.Join(",",hasSleProIds.ToArray()))";
        var carSelProIdList= new Array(); //定义一数组
        carSelProIdList = carSelProIdListStr.split(","); //字符分割

        var hasSelProId = new Array();
        var selSupClassid = "";
        var selClassid = -1;

        //购物数量加减
        $(function () {
            $(".list-pro").delegate(".increase", "click", function () {
                //// 数量加1
                var self = $(this);
                addShopingCartResult = false;
                addShopingCart(self.parent().parent().prev().attr("data-id"), 1);
                if (addShopingCartResult) {
                    var current_num = parseInt(self.siblings('input').val());
                    current_num += 1;
                    if (current_num > 0) {
                        self.siblings(".decrease").fadeIn();
                        self.siblings(".text_box").fadeIn();
                    }
                    self.siblings('input').val(current_num);

                    //// 购物车数量展示处理
                    update_item(self, 1);
                }
            });

            $(".list-pro").delegate(".decrease", "click", function () {
                //// 数量减1
                var self = $(this);
                addShopingCartResult = false;
                addShopingCart(self.parent().parent().prev().attr("data-id"), -1);
                if (addShopingCartResult) {
                    var current_num = parseInt(self.siblings('input').val());
                    if (current_num > 0) {
                        current_num -= 1;
                        if (current_num < 1) {
                            self.fadeOut();
                            self.siblings(".text_box").fadeOut();
                        }
                        self.siblings('input').val(current_num);

                        //// 购物车数量展示处理
                        update_item(self, 0);
                    }
                }
            });
        })

        //删除提示信息
        $(function () {
            $('#doc-modal-list').find('.am-icon-close').add('#doc-confirm-toggle').
                on('click', function () {
                    $('#my-confirm').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var $link = $(this.relatedTarget).prev('a');
                            var msg = $link.length ? '你要删除的饮品 为 ' + $link.data('id') :
                                '确定了';
                            //        alert(msg);
                        },
                        onCancel: function () {
                            alert('不删除');
                        }
                    });
                });
        });
        var finished = false;
        //tab切换
        $(function () {
            window.onload = function () {
                var $li = $('#tab li');
                var $ul = $('#content ul');

                // 初始化 以选择产品子分类，进入页面
                if (supClassid && classId && classId != "0") {
                    this.console.log("supClassid="+supClassid+";classId="+classId);
                    getProD(supClassid, classId, 2);
                   // getPro($("li[data-typeid='" + supClassid + "']"));

                } else {
                   // getPro($li.first());
                    //// 初始化加载第一个类别数据
                   // $li.first().addClass("current").addClass("currentLi");
                }

                //$li.click(function () {
                //    var $this = $(this);
                //    selClassid = -1
                //    getPro($this);
                //});

                //// 获取产品列表数据
                function getPro($this) {
                    if (classId && classId != "0") {
                        var $seleType = $this.attr("data-typeId");
                        selSupClassid = $seleType;
                        $(".subdaohangInfor").hide();
                        $(".subdaohangInfor[data-supClassid=" + $seleType + "]").show();
                        $(".active").removeClass("active");
                        $(".allSubdaohang").addClass("active");

                        $li.removeClass();
                        $this.addClass('current');
                        $this.addClass('currentLi');

                        $ul.css('display', 'none');

                        getProD(supClassid, classId, 2);
                    }
                }

                // 顶子分类单击事件
                //$(".subdaohang").click(function () {
                //    selClassid = $(this).attr("data-classid");
                //    var supClassid = $(this).attr("data-supClassid");
                //    $(".active2").removeClass('active2');
                //    $(this).addClass('active2');

                //    getProD(selSupClassid, selClassid, 2);
                //});


                //// 获取产品列表数据(根据子类id)
                function getProD(supClassid, classid, type) {
                    var $selProCount = $(".proListType" + supClassid);
                    $selProCount.css('display', 'block');
                    //// 查找是否是否还有数据标识
                    var hasPro = $selProCount.attr("data-hasPro");
                    if (hasPro != "0") {
                        ///// 获取当前数据所显示的页码
                        var pagIndex = parseInt($selProCount.attr("data-pagIndex"));
                        console.log(pagIndex);
                        if (!pagIndex) {
                            pagIndex = 0;
                        }
                        $.ajax({
                            cache: false,//保留缓存数据
                            type: "get",//为post请求
                            url: "/market/GetProductcListBySupClassId",//这是我在后台接受数据的文件名
                            data: "pagIndex=" + pagIndex + "&supClassid=" + supClassid + "&classid="+classid,//将该表单序列化
                            async: false,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                            error: function (request) {//请求失败之后的操作
                                alert("操作失败！");
                            },
                            success: function (data) {//请求成功之后的操作
                                if (data) {
                                    var dataObj = $.parseJSON(data);
                                    if (dataObj) {
                                        var dataList = dataObj["dataList"];
                                        if (dataList) {
                                            for (var i = 0; i < dataList.length; i++) {
                                                var hasSel = false;
                                                var hasSelNum = 0;
                                                if (carSelProIdList && carSelProIdList.length>0) {
                                                    for (var j = 0; j < carSelProIdList.length; j++) {
                                                        if (carSelProIdList[j].indexOf(dataList[i]["productid"]) != -1) {
                                                            hasSel = true;
                                                            hasSelNum = carSelProIdList[j].split("-")[1];
                                                        }
                                                    }
                                                }
                                                  
                                                var phtml = '<li dta-pro-lsitLis="lsitLis" data-pro-supClassId=' + dataList[i]["supclassid"] + ' data-pro-classId=' + dataList[i]["classid"] + '><a href="detail?productId=' + dataList[i]["productid"] + '"><img src="/' + dataList[i]["productimgurl"] + '" class="list-pic" /></a>' +
                                                    '<div class="shop-list-mid" data-id="' + dataList[i]["productid"] + '">' +
                                                    '   <div class="tit"><a href="detail?productId=' + dataList[i]["productid"] + '">' + dataList[i]["productname"] + '</a></div>' +
                                                    '   <div class="am-gallery-desc" >￥<label class="price">' + dataList[i]["sellprice"] + '</label><label style="color: white;">.</label><label class="delprice">￥' + dataList[i]["origprice"] + '</label></div > ' +
                                                    '</div> ' +
                                                    '<div class="list-cart">' +
                                                    ' <div class="d-stock ">' +
                                                    '<a class="decrease" style="' + (hasSel ? "display: inline;" : "") + '">-</a>' +
                                                    ' <input id="num" readonly="" class="text_box" name="" type="text" value="'+(hasSel?hasSelNum:"0")+'" style="'+(hasSel?"display: inline-block;":"")+'">' +
                                                    '<a class="increase">+</a>' +
                                                    '</div>' +
                                                    '</div>' +
                                                    '</li>';
                                                $selProCount.append(phtml);
                                            }

                                            if (parseInt(dataObj["pagSize"]) > dataList.length) {
                                                //// 数据已获取完毕
                                                $selProCount.attr("data-hasPro", "0");
                                            } else {
                                                $selProCount.attr("data-pagIndex", parseInt($selProCount.attr("data-pagIndex")) + 1);
                                            }

                                            if (selClassid > 0) {
                                                $("li[dta-pro-lsitLis=lsitLis]").css('display', 'none');
                                                $("li[data-pro-classId=" + classid + "]").css('display', 'block');
                                            } else {
                                                $("li[dta-pro-lsitLis=lsitLis]").css('display', 'block');
                                            }

                                            return;
                                        }
                                    }
                                } else {
                                    $selProCount.attr("data-hasPro", "0");
                                }

                            }
                        });
                    }
                    else {
                        // 如果未取完数据，并且是根据子分类来查询数据，需要晴空查询
                        if (type == 2) {
                            if (classid) {
                                $("li[dta-pro-lsitLis=lsitLis]").css('display', 'none');
                                $("li[data-pro-classId=" + classid + "]").css('display', 'block');
                            } else {
                                $("li[dta-pro-lsitLis=lsitLis]").css('display', 'block');
                            }

                        }
                    }
                }


                //核心代码
                var winH = $(window).height(); //页面可视区域高度
                var scrollHandler = function () {
                    var pageH = $(document.body).height();
                    var scrollT = $(window).scrollTop(); //滚动条top
                    var aa = (pageH - winH - scrollT) / winH;

                    if (!finished && !aa < 0.2) { //0.02是个参数
                        getPro($(".currentLi"));
                        ////$(window).unbind('scroll');
                        ////$("#btn_Page").show();
                        finished = true;

                        setTimeout(function () { finished = false; }, 2000);
                        //// $("#btn_Page").hide();
                    }
                }

                //定义鼠标滚动事件
                $(window).scroll(scrollHandler);
            }
        });

        //// 选好了单击事件
        $(function () {
            $('#submit').click(function () {
                var hasSelCount = $("#totalNum").text();
                if (!hasSelCount || hasSelCount=="0") {
                    alert("请选中需要的产品！");
                    return false;
                }
                window.location.href = '/market/takeout?selProductids=' + hasSelProId.join(",");
            });
        });

        //// 选择商品总价显示
        function update_item(self, opertType) {
            //// 购物车数量展示处理
            var totalPrice = parseFloat($("#totalPrice").html().trim());
            var totalNum = parseInt($("#totalNum").html().trim());
            var thisPrice = parseFloat(self.parent().parent().prev().children().find(".price").html().trim());

            hasSelProId.push(self.parent().parent().prev().attr("data-id"));

            totalPrice = opertType == 1 ? totalPrice + thisPrice : totalPrice - thisPrice;
            totalNum = opertType == 1 ? totalNum + 1 : totalNum - 1;
            $("#totalPrice").html(totalPrice.toFixed(2));
            $("#totalNum").html(totalNum)
        }

        //// 添加到购物车
        function addShopingCart(productId, buyNum) {
            $.ajax({
                cache: false,//保留缓存数据
                type: "get",//为post请求
                url: "/market/AddShopCart",//这是我在后台接受数据的文件名
                data: {
                    productId: productId,
                    buyNum: buyNum
                },//将该表单序列化
                async: false,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
                error: function (request) {//请求失败之后的操作
                    alert("操作失败！");
                    return false;
                },
                success: function (data) {//请求成功之后的操作
                    if (data == "-1") {
                        alert("请先登录");
                        window.location.href = '../market/userCenter';
                        return false;
                    } else {
                        if (data) {
                            var dataObj = $.parseJSON(data);
                            if (dataObj) {
                                if (dataObj["errcode"] == "0") {
                                    addShopingCartResult = true;
                                    return true;
                                }
                                alert(dataObj["errmsg"]);
                                return false;
                            }
                        } else {
                            alert("操作失败！");
                            return false;
                        }
                    }
                }
            });
        }

    </script>
</body>
</html>

