
<link href="../Content/listPag.css" rel="stylesheet" />
<div class="console-title-border console-title">
    <div class="pull-left">
        <h5>系统设置</h5>
        <h5 style="border-left: none">&gt;</h5>
        <h5 style="border-left: none">微信菜单列表</h5>
    </div>
</div>
<div class="listOutCount">
    <div class="select-body w800 h40">
        <div class="select-subButCount h40">
            <div class="subBut lh35 w200" id="searchBut" onclick="submitFun()">
                一件发布菜单到微信公众号
            </div>
        </div>
    </div>
    <div class="solidLin"></div>
    <div class="valueList-body w900">
        <div class="valueList-headCount w900">
            <div class="one w150">上级菜单</div>
            <div class="one w150">菜单名称</div>
            <div class="one w420">菜单URL</div>
            <div class="one w60">排序号</div>
            <div class="one">操作</div>
        </div>
        <div class="valueList-valueCount w900" id="valueListCount" style="">
            <div class="ng-scope">
                @{

                    List<pan.kaikj.wxsupermarket.AdoModel.Mwxmenu> modelList = ViewData["AllMenu"] == null ? null : (List<pan.kaikj.wxsupermarket.AdoModel.Mwxmenu>)ViewData["AllMenu"];
                    if (modelList != null && modelList.Count > 0)
                    {
                        foreach (var item in modelList)
                        {
                <div class="valueList-oneLinValueCount w900">
                    <div class="one w150">@((!string.IsNullOrEmpty(item.superId) && modelList.Exists(p => p.id == item.superId)) ? modelList.Find(p => p.id == item.superId).menuName : "") </div>
                    <div class="one w150">@item.menuName</div>
                    <div class="one w420">@item.url</div>
                    <div class="one w60">@item.sortNum</div>
                    <div class="one w80">
                        <div class="w70 h16">
                            @if (item.id != "201812160005398168" && modelList.Exists(p => p.superId != item.id))
                            {
                                <a href="unsafe:javascript:void(0);" onclick="deleteOpert('@item.id')">删除</a>
                            }
                        </div>
                    </div>
                </div>
                            <div class="solidLin"></div>
                        }
                    }
                }

            </div>
        </div>
        <div class="solidLin"></div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var thisPagClass = "pagclass0801";

    //// 删除事件
    function deleteOpert(id) {
        $.ajax({
            cache: true,//保留缓存数据
            type: "get",//为post请求
            url: "../systemSet/DelectMenuMeth",//这是我在后台接受数据的文件名
            data: "id=" + id,//将该表单序列化
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                alert("操作失败！");
            },
            success: function (data) {//请求成功之后的操作
                if (data == "-1") {
                    window.location.href = '../Login/Index';
                } else {
                    if (data) {
                        var dataObj = $.parseJSON(data);
                        if (dataObj) {
                            if (dataObj["errcode"] == "0") {
                                //// 操作成功：重新绑定数据
                                history.go(0);
                            }

                            alert(dataObj["errmsg"]);
                        }
                    } else {
                        alert("操作失败！");
                    }
                }
            }
        });
    }

    function submitFun() {
        $.ajax({
            cache: true,//保留缓存数据
            type: "get",//为post请求
            url: "../systemSet/FabuMenuToWX",//这是我在后台接受数据的文件名
            async: true,//设置成true，这标志着在请求开始后，其他代码依然能够执行。如果把这个选项设置成false，这意味着所有的请求都不再是异步的了，这也会导致浏览器被锁死
            error: function (request) {//请求失败之后的操作
                alert("操作失败！");
            },
            success: function (data) {//请求成功之后的操作
                if (data == "-1") {
                    window.location.href = '../Login/Index';
                } else {
                    if (data) {
                        var dataObj = $.parseJSON(data);
                        if (dataObj) {
                            alert(dataObj["errmsg"]);
                        }
                    } else {
                        alert("操作失败！");
                    }
                }
            }
        });
    }
</script>